body { background: #7fa70f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 52px; display: flex; }
.block-invoice-0 { color: #126125; font-size: 20px; margin-bottom: 5px; }
.block-invoice-1 { color: #8ff97f; font-size: 13px; margin-bottom: 5px; }
.block-router-2 { color: #42c1a1; font-size: 20px; margin-bottom: 5px; }
.block-helper-3 { color: #6cdf81; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #cbb84; font-size: 19px; margin-bottom: 5px; }
.block-helper-5 { color: #cabbd4; font-size: 13px; margin-bottom: 5px; }
.block-cluster-6 { color: #5fccd3; font-size: 21px; margin-bottom: 5px; }